


.content{
    border: 0px solid black;
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
}

.input{
    border: 2px solid rgba(0, 0, 0, 0.142);
    height: 35px;
    display: flex;
    align-items: center;
    margin-top: 1rem;
    border-radius: 0.2rem;
}

.field{
    outline: none;
    border: none;
    width: 100%;
    padding-left: .4rem;
    color: black;
}

.icon{
    border-right: 2px solid rgba(0, 0, 0, 0.142);
    height: 100;
    padding: .4rem;
}

.formField{
    border: 0px solid black;
    width: 90%;
    margin: auto;
    padding: 2rem;
}

img{
    width: 100%;
}

.container{
    border: 0px solid black;
    width: 30%;
    margin: 0;
    margin-left: 12rem;
    margin-top: 2rem;
}

.keep{
    display: flex;
    align-items: center;
    border: 0px solid black;
    margin-top: 1rem;
    width: 90%;
    color: black;
    justify-content: space-between;
}

.photo{
    width: 40%;
    margin-left: auto;
    margin-top: 5.5rem;
}

@media (max-width: 670px){
    .content{
        border: 0px solid black;
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .container{
        border: 0px solid black;
        width: 100%;
        margin: 0;
        margin-top: 4rem;
    }

    .photo{
        display: none;
    }
}