.custom-splash-content {
    height: 100%;
    border: 0px solid black;
    background-color: #ffffff; /* You can change the background color */
  }
  
  .splash-gif {
    margin: auto;
    border: 0px solid black;  /* Adjust the size of the GIF as needed */
    height: auto;
    margin-top: 12rem;
  }

  .git-cont{
    margin: auto;
    border: 0px solid black;
  }
  /* src/components/CustomSplashScreen.css */
.splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white; /* Adjust as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure it covers other elements */
}
